* {
	padding: 0px;
  	margin: 0px;
}
body {
	background: black;
}
.starting_heading {
	font-family: 'Noto Sans', sans-serif;
	padding-left: 20px;
	padding-top: 40px;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	color: white;
}
.princeofpersiacover img {
	height: 30%;
	width: 30%;
	padding-top: 100px;
	margin-left: 34%;
}
.princeofpersia_heading {
	margin-left: 36%;
	margin-top: 1%;
	font-size: 20px;
	font-family: Roboto;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.princeofpersia_subhead {
	color: white;
	text-align: center;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	margin-top: 2%;
	margin-right: 3%;
	margin-left: 3%;
}
.princeofpersia-thetwothrones img {
	height: 30%;
	width: 30%;
	padding-top: 100px;
	margin-left: 34%;
}
.princeofpersia-thetwothrones_heading {
	margin-left: 34%;
	margin-top: 1%;
	font-size: 20px;
	font-family: Roboto;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.princeofpersia-thetwothrones_subhead {
	color: white;
	text-align: center;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	margin-top: 2%;
	margin-right: 3%;
	margin-left: 3%;
}