* {
	padding: 0px;
  	margin: 0px;
}
body {
	background: black;
}
.starting_heading {
	font-family: 'Noto Sans', sans-serif;
	padding-left: 20px;
	padding-top: 40px;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	color: white;
}
.forza_horizon_three img {
	height: 30%;
	width: 30%;
	padding-top: 100px;
	margin-left: 34%;
}
.forza_three_heading {
	margin-left: 44%;
	margin-top: 1%;
	font-size: 20px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.forza_three_subhead {
	color: white;
	text-align: center;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	margin-top: 2%;
	margin-right: 3%;
	margin-left: 3%;
}
.page_nav {
	display: flex;
	align-items: center;
	text-align: center;
	margin-bottom: 3%;
	margin-top: 3%;
	margin-left: 43%;
}
.page_one {
	color: white;
	background: green;
	z-index: 1;
	position: relative;
  	display: inline-block;
  	padding: 5px 15px;
 	text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    border-radius: 60px;
}
.page_two {
	color: white;
	background: green;
	z-index: 1;
	position: relative;
  	display: inline-block;
  	padding: 5px 15px;
 	text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    margin-left: 2%;
    border-radius: 60px;
}
.page_three {
	color: white;
	background: green;
	z-index: 1;
	position: relative;
  	display: inline-block;
  	padding: 5px 15px;
 	text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    margin-left: 2%;
    border-radius: 60px;
}
.page_four {
	color: white;
	background: green;
	z-index: 1;
	position: relative;
  	display: inline-block;
  	padding: 5px 15px;
 	text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    margin-left: 2%;
    border-radius: 60px;
}