@media only screen and (max-width: 480px) {
	.princeofpersiacover img {
		height: 50%;
		width: 50%;
		margin-left: 24%;
	}
	.princeofpersia_heading {
		font-size: 20px;
		margin-top: 5%;
		margin-left: 11%;
		margin-bottom: 2%;
	}
	.princeofpersia-thetwothrones img {
		height: 50%;
		width: 50%;
		margin-left: 24%;
	}
	.princeofpersia-thetwothrones_heading {
		font-size: 20px;
		margin-top: 5%;
		margin-left: 5%;
		margin-bottom: 2%;
	}
	.nfs-mostwanted-newerversion img {
		height: 50%;
		width: 50%;
		margin-left: 24%;
	}
	.nsf-mostwanted_heading {
		font-size: 20px;
		margin-top: 5%;
		margin-left: 6%;
		margin-bottom: 2%;
	}
	.nfs_hotpursuitcover img {
		height: 50%;
		width: 50%;
		margin-left: 24%;
	}
	.nfs_hotpursuit_heading {
		font-size: 20px;
		margin-top: 5%;
		margin-left: 14%;
		margin-bottom: 2%;
	}
	.nfs_rivalscover img {
		height: 50%;
		width: 50%;
		margin-left: 24%;
	}
	.nfs_rivals_heading {
		font-size: 20px;
		margin-top: 5%;
		margin-left: 36%;
		margin-bottom: 2%;
	}
	.page_nav {
		margin-left: 30%;
		margin-bottom: 5%;
		margin-top: 3%;
	}
}