@media only screen and (max-width: 480px) {
	.page_nav {
		margin-left: 30%;
		margin-bottom: 5%;
		margin-top: 3%;
	}
	.forza_horizon_three img {
		height: 50%;
		width: 50%;
		margin-left: 22%;
	}
	.forza_three_heading {
		margin-left: 31%;
		margin-top: 3%;
	}
	.forza_horizon_four img {
		height: 50%;
		width: 50%;
		margin-left: 22%;
	}
	.forza_four_heading {
		margin-left: 30%;
		margin-top: 3%;
	}
	.forza_horizon_seven img {
		height: 50%;
		width: 50%;
		margin-left: 22%;
	}
	.forza_seven_heading {
		margin-left: 30%;
		margin-top: 3%;
	}
	.terminator-resistance img {
		height: 50%;
		width: 50%;
		margin-left: 22%;
	}
	.terminator-resistance_heading {
		margin-left: 22%;
		margin-top: 3%;
	}
	.nba-2K20 img {
		height: 50%;
		width: 50%;
		margin-left: 22%;
	}
	.nba2k20_heading {
		margin-left: 35%;
		margin-top: 3%;
	}
}

