@media only screen and (max-width: 480px) {
	.princeofpersiacover img {
		height: 50%;
		width: 50%;
		margin-left: 24%;
	}
	.princeofpersia_heading {
		font-size: 20px;
		margin-top: 5%;
		margin-left: 11%;
		margin-bottom: 2%;
	}
	.princeofpersia-thetwothrones img {
		height: 50%;
		width: 50%;
		margin-left: 24%;
	}
	.princeofpersia-thetwothrones_heading {
		font-size: 20px;
		margin-top: 5%;
		margin-left: 5%;
		margin-bottom: 2%;
	}
}