@media only screen and (max-width: 480px) {
	.wwe2k19_heading {
		font-size: 20px;
		margin-top: 5%;
		margin-left: 34%;
		margin-bottom: 2%;
	}
	.wwe2k19cover img {
		height: 50%;
		width: 50%;
		margin-left: 23%;
	}
	.wwe2k17_heading {
		font-size: 20px;
		margin-top: 5%;
		margin-left: 34%;
		margin-bottom: 2%;
	}
	.wwe2k17cover img {
		height: 50%;
		width: 50%;
		margin-left: 23%;
	}
	.fifa20_heading {
		font-size: 20px;
		margin-top: 5%;
		margin-left: 41%;
		margin-bottom: 2%;
	}
	.fifa20cover img {
		height: 50%;
		width: 50%;
		margin-left: 23%;
	}
	.fifa_pic_subhead {
		font-size: 15px;
	}
	.fifa19cover img {
		height: 50%;
		width: 50%;
		margin-left: 23%;
	}
	.fifa_pic_subhead {
		font-size: 15px;
	}
	.fifa19_heading {
		font-size: 20px;
		margin-top: 5%;
		margin-left: 41%;
		margin-bottom: 2%;
	}
	.fifa18cover img {
		height: 50%;
		width: 50%;
		margin-left: 23%;
	}
	.fifa18_heading {
		font-size: 20px;
		margin-top: 5%;
		margin-left: 41%;
		margin-bottom: 2%;
	}
	.fifa18_pic_subhead {
		font-size: 15px;
	}
	.page_nav {
		margin-left: 30%;
		margin-bottom: 5%;
	}
}